<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <div><small>{{ page.tagline }}</small></div>{% endif %}</h1>
</div>

<div class="col-sm-2"></div>
<div class="col-sm-8">
{{ content }}
<div class="PageNavigation">
  {% if page.previous.url %}
  <span style="float: left;">
    <a class="prev" href="{{page.previous.url}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{page.previous.title}}</a>
  </span>
  {% endif %}
  {% if page.next.url %}
  <span style="float: right;">
    <a class="next" href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  </span>
  {% endif %}
</div>
</div>
<div class="col-sm-2"></div>


